{% extends 'base.html' %}

{% block title %}Outbox{% endblock %}

{% block h1 %}Outbox{% endblock %}

{% block content %}
    <table class="table table-striped">
        {% for message in messages %}
            <tr class="row">
                <td class="col-3 ellipsis">
                    {% for to in message.get_to_emails %}
                        <span class="badge badge-secondary">{{ to }}</span>
                    {% endfor %}
                </td>

                <td class="col-7 ellipsis" onclick="document.location = '{% url 'webmail:message' message.id %}';"
                    style="cursor: pointer;"><b>{{ message.subject }}</b> — {{ message.body }}</td>

                <td class="col-2 text-right p-0">
                    <form action="{% url 'webmail:message-delete' message.id %}" method="post">
                        {% csrf_token %}
                        <input type="hidden" name="message_id" value="{{ message.id }}"/>
                        <input type="hidden" name="view_name" value="webmail:outbox"/>
                        <button class="btn btn-outline-danger btn-sm m-2" type="submit">Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
